@use "../assets/scss/var" as v;
@use "../assets/scss/mixin" as m;
@use "sass:color";
.weather{
  h2{
    margin: 0;
  }
  .info{
    margin: 0 auto;
    text-align: center;
  }
  .datas{
    margin-top: 25px;
   background-color: #f1f1f1;
   padding: 20px;
  }
  p{
   margin: 0;
  }
}
.map {
  margin-top: 25px;
  width: 100%;
  height: 300px;
}
